@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Minecraft";
  src: url("../fonts/Minecraft.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow: hidden;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.icon {
  border-bottom: solid 2px darkcyan;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  z-index: 30;
  animation: loaderSpin 2s infinite linear;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: opacity 200ms ease-out;
}
.header a {
  text-decoration: none;
  font-family: "Urbanist", sans-serif;
  color: #f1f2f5;
}
.header .links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .links-container .logo {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-image: url("../img/images/logo.png");
  background-size: cover;
  background-position: center;
  margin-left: 0.5em;
}
.header .links-container a {
  margin-left: 1em;
  background-color: #f1f2f51a;
  padding: 7px 15px;
  border-radius: 15px;
  transition: background-color 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.header .links-container a:hover, .header .links-container a:active {
  background-color: #f1f2f531;
}
.header .dis-pack-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .dis-pack-container a {
  margin-right: 1em;
}

.landing-image {
  position: relative;
}
.landing-image img {
  width: 100%;
}
.landing-image h3 {
  font-family: "Urbanist", sans-serif;
  font-size: clamp(25px, 5vw, 60px);
  width: 100%;
  text-align: center;
  color: #f1f2f5;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}
.landing-image a {
  position: absolute;
  bottom: 5vmin;
  left: 50%;
  transform: translate(-50%, -50%);
  height: clamp(35px, 5vw, 50px);
  width: clamp(35px, 5vw, 50px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f2f5;
  animation: arrowMove 1.5s infinite;
}
.landing-image a img {
  height: 40%;
}

.main-content {
  padding: 3vw 5vw 5vw;
}
.main-content h1, .main-content span {
  font-family: "Urbanist", sans-serif;
  font-size: clamp(25px, 7vw, 70px);
}
.main-content span {
  font-size: clamp(14px, 2vw, 20px);
}
.main-content .slideshow-container {
  margin: 2vw 0;
  overflow: hidden;
  min-height: 60vmin;
  cursor: grab;
  position: relative;
}
.main-content .slideshow-container:active {
  cursor: grabbing;
}
.main-content .slideshow {
  position: absolute;
  height: 100%;
  display: flex;
  pointer-events: none;
}
.main-content .slide {
  flex-shrink: 0;
  height: 100%;
  width: 80vmin;
  background-size: cover;
  background-position: center;
  position: relative;
}
.main-content .slide:not(:nth-child(1)) {
  margin-left: 10px;
}
.main-content .s1 {
  background-image: url("../img/images/bg-1.png");
}
.main-content .s2 {
  background-image: url("../img/images/bg-2.png");
}
.main-content .s3 {
  background-image: url("../img/images/bg-3.png");
}
.main-content .s4 {
  background-image: url("../img/images/bg-4.png");
}
.main-content .s5 {
  background-image: url("../img/images/bg-5.png");
}
.main-content .s6 {
  background-image: url("../img/images/bg-6.png");
}
.main-content .discord-container, .main-content .pack-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0;
}
.main-content .discord-container img, .main-content .pack-container img {
  height: 10vw;
}
.main-content .discord-container button, .main-content .pack-container button {
  display: block;
  background-color: #5c6bc0;
  width: 80%;
  padding: 1vw 0;
  color: #f1f2f5;
  font-family: "Urbanist", sans-serif;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  position: relative;
  box-shadow: 0 6px #3f4981;
}
.main-content .discord-container button:active, .main-content .pack-container button:active {
  top: 6px;
  box-shadow: 0 0 #3f4981;
}
.main-content .pack-container button {
  color: #302e29;
  background-color: #fcbf29;
  box-shadow: 0 6px #fe9923;
}
.main-content .pack-container button:active {
  box-shadow: 0 0 #fe9923;
}

@keyframes arrowMove {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loaderSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header.fondu-out, .loader.fondu-out {
  opacity: 0;
}

@media screen and (max-width: 650px) {
  .header .dis-pack-container {
    display: none;
  }
}
@media screen and (max-width: 565px) {
  .header {
    position: static;
    background-color: #f1f2f5;
  }
  .header .links-container a {
    margin-left: 0.37em;
    padding: 5px 10px;
    background-color: #12192d1a;
    color: #12192d;
  }
  .header .links-container a:hover, .header .links-container a:active {
    background-color: #12192d31;
  }
}
