// Import reset CSS

@use "reset";

// Import fontes

@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraft.ttf") format("truetype");
}

// Variables

$text-color: #f1f2f5;

// Mixins

@mixin navbar-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

// Global

html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    overflow: hidden;
}

// Loader

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.icon {
    border-bottom: solid 2px darkcyan;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    z-index: 30;
    animation: loaderSpin 2s infinite linear;
}


// Header

.header {
    @include navbar-flex();
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: display 200ms;

    a {
        text-decoration: none;
        font-family: "Urbanist", sans-serif;
        color: $text-color;
    }

    .links-container {
        @include navbar-flex();
        .logo {
            width: 3em;
            height: 3em;
            border-radius: 50%;
            background-image: url("../img/images/logo.png");
            background-size: cover;
            background-position: center;
            margin-left: 0.5em;
        }
        a {
            margin-left: 1em;
            background-color: #f1f2f51a;
            padding: 7px 15px;
            border-radius: 15px;
            transition: background-color 200ms cubic-bezier(.18, .89, .32, 1.28);
            &:hover, &:active {
                background-color: #f1f2f531
            }
        }
    }

    .dis-pack-container {
        @include navbar-flex();
        a {
            margin-right: 1em;
        }
    }
}

// Landing image

.landing-image {
    position: relative;
    img {
        width: 100%;
    }
    h3 {
        font-family: "Urbanist", sans-serif;
        font-size: clamp(25px, 5vw, 60px);
        width: 100%;
        text-align: center;
        color: #f1f2f5;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: screen;
    }
    a {
        position: absolute;
        bottom: 5vmin;
        left: 50%;
        transform: translate(-50%, -50%);
        height: clamp(35px, 5vw, 50px);
        width: clamp(35px, 5vw, 50px);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1f2f5;
        animation: arrowMove 1.5s infinite;
        img {
            height: 40%;
        }
    }
}

.main-content {
    padding: 3vw 5vw 5vw;
    h1, span {
        font-family: "Urbanist", sans-serif;
        font-size: clamp(25px, 7vw, 70px);
    }
    span {
        font-size: clamp(14px, 2vw, 20px);
    }
    .slideshow-container {
        margin: 2vw 0;
        overflow: hidden;
        min-height: 60vmin;
        cursor: grab;
        position: relative;
        &:active {
            cursor: grabbing;
        }
    }
    .slideshow {
        position: absolute;
        height: 100%;
        display: flex;
        pointer-events: none;
    }
    .slide {
        flex-shrink: 0;
        height: 100%;
        width: 80vmin;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .slide:not(:nth-child(1)) {
        margin-left: 10px;
    }
    .s1 {
        background-image: url("../img/images/bg-1.png");
    }
    .s2 {
        background-image: url("../img/images/bg-2.png");
    }
    .s3 {
        background-image: url("../img/images/bg-3.png");
    }
    .s4 {
        background-image: url("../img/images/bg-4.png");
    }
    .s5 {
        background-image: url("../img/images/bg-5.png");
    }
    .s6 {
        background-image: url("../img/images/bg-6.png");
    }
}

// Animations

@keyframes arrowMove {
    0% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes loaderSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header.fondu-out, .loader.fondu-out {
    opacity: 0;
    transition: opacity 200ms ease-out;
}

// Medias

@media screen and (max-width: 650px) {
    
    .header {
        .dis-pack-container {
            display: none;
        }
    }
}

@media screen and (max-width: 565px) {
    .header {
        position: static;
        background-color: #f1f2f5;
        overflow-x: scroll;
        .links-container {
            a {
                margin-left: 0.5em;
                padding: 7px 12px;
                background-color: #12192d1a;
                color: #12192d;
                &:hover, &:active {
                    background-color: #12192d31;
                }
            }
        }
    }
}
