// Import reset CSS

@use "reset";

// Import fontes

@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraft.ttf") format("truetype");
}

// Variables

$text-color: #12192c;

// Mixins

@mixin navbar-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

// Global

html {
    scroll-behavior: smooth
}


// Header

.header {
    @include navbar-flex();
    height: 4em;
    padding: 0 0.5em;
    background-color: transparent;

    a {
        text-decoration: none;
        font-family: "Urbanist", sans-serif;
        color: $text-color;
    }

    .links-container {
        @include navbar-flex();
        .logo {
            width: 3em;
            height: 3em;
            border-radius: 50%;
            background-image: url("../img/images/logo.png");
            background-size: cover;
            background-position: center;
        }
        a {
            margin-left: 0.7em;
        }
    }

    .dis-pack-container {
        @include navbar-flex();
        a {
            margin-right: 0.7em;
        }
    }
}

// Landing image

.landing-image {
    position: relative;
    img {
        width: 100%;
    }
    h3 {
        font-family: "Urbanist", sans-serif;
        font-size: clamp(25px, 5vw, 60px);
        width: 100%;
        text-align: center;
        color: #f1f2f5;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: screen;
    }
    a {
        position: absolute;
        bottom: 5vmin;
        left: 50%;
        transform: translate(-50%, -50%);
        height: clamp(35px, 5vw, 50px);
        width: clamp(35px, 5vw, 50px);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1f2f5;
        animation: arrowMove 1.5s infinite;
        img {
            height: 40%;
        }
    }
}

.main-content {
    padding: 3vw 5vw 5vw;
    h1, span {
        font-family: "Urbanist", sans-serif;
        font-size: clamp(25px, 7vw, 70px);
    }
    span {
        font-size: clamp(14px, 2vw, 20px);
    }
    .slideshow-container {
        margin: 2vw 0;
        overflow: hidden;
        min-height: 60vmin;
        cursor: grab;
        position: relative;
        &:active {
            cursor: grabbing;
        }
    }
    .slideshow {
        position: absolute;
        height: 100%;
        display: flex;
        pointer-events: none;
    }
    .slide {
        flex-shrink: 0;
        height: 100%;
        width: 80vmin;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .slide:not(:nth-child(1)) {
        margin-left: 10px;
    }
    .s1 {
        background-image: url("../img/images/bg-1.png");
    }
    .s2 {
        background-image: url("../img/images/bg-2.png");
    }
    .s3 {
        background-image: url("../img/images/bg-3.png");
    }
    .s4 {
        background-image: url("../img/images/bg-4.png");
    }
    .s5 {
        background-image: url("../img/images/bg-5.png");
    }
    .s6 {
        background-image: url("../img/images/bg-6.png");
    }
}

@keyframes arrowMove {
    0% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 550px) {
    
    .header {
        .dis-pack-container {
            display: none;
        }
    }
}
